@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Home/Index">Магазин посуды</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  href="/Home/Index">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ShopCart/Index">Корзина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Dish/List/Тарелки">Тарелки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Dish/List/Чашки">Чашки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Dish/List/Стаканы">Стаканы</a>
          </li>                
        </ul>
            @if(Context.Session.GetString("UserID") == null)
            {                
                <form action=/User/Register style="margin-right:6px">
                    <button class="btn btn-outline-success" type="submit">Регистрация</button>
                </form>                               
                <form action=/User/LoginPage>
                    <button class="btn btn-outline-success" type="submit" href="">Войти</button>
                </form>                
            }
            else
            {
                <div class="btn btn-outline-light disabled">Пользователь: @Context.Session.GetString("UserName")</div>  
                
                @Html.ActionLink("Кабинет", "PersonalInfo", "User", new { userID=Context.Session.GetString("UserID")}, new { @class="btn btn-outline-success" })            
                @Html.ActionLink("Выйти", "LogOut", "User",null , new { @class="btn btn-outline-success" })            
            }
      </div>
    </div>
  </nav>
@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
</header>

    <div style="width:98%;margin-left:1%;margin-right:1%">
        @RenderBody()
    </div>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
