<!doctype html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>List</title>
</head>
<body>
    <div class="col-lg-4">
            <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
            <h2>Модель: @Model.Name</h2>
            <p>Категория: @Model.Category.Name</p>
            <p>Цена: @Model.Price.ToString("c")</p>
            <p><a class="btn btn-warning" asp-controller="Dish" asp-action="DishInfo" asp-route-dishID="@Model.ID">Подробнее</a></p>
    </div>
</body>
</html>