@using ASPLab.Data.Models
@model ASPLab.Data.ViewModels.UserOrderViewModel
<body>
    <div class="row" style="margin-top:3.5%">
        <div class="col-lg-2" style="width:20%">
            <b>Почта:</b><p>@Model.user.Email</p>
            <b>Логин:</b><p>@Model.user.Login</p>
            <b>Имя:</b><p>@Model.user.Name</p>
            <b>Тел.:</b><p>@Model.user.PhoneNumber</p>
            @Html.ActionLink("Изменить данные", "Edit", "Account", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Удалить учетную запись", "Delete", "Account", null, new { @class = "btn btn-danger" })
        </div>
        <div class="col-lg-2" style="width:80%">
            @{
                if (Model.listUserOrderDetails != null)
                {
                foreach (UserOrderDetails item in Model.listUserOrderDetails)
                    {
                        <div><span>@item.OrderId</span><span>@item.orderDate</span><span>@item.orderSum</span></div>
                    }
                }
                else
                {
                <b>У вас еще нет заказов</b>
                }
            }
        </div>
    </div>
</body>