@using ASPLab.Data.Models
@model ASPLab.Data.ViewModels.UserOrderViewModel
<body style="overflow:hidden">
    <div class="row" style="margin-top: 3.5%">
        <div class="col-lg-2" style="width:20%">
            <h2>Ваши данные</h2>
            <b>Почта:</b><p>@Model.user.Email</p>
            <b>Логин:</b><p>@Model.user.Login</p>
            <b>Имя:</b><p>@Model.user.Name</p>
            <b>Тел.:</b><p>@Model.user.PhoneNumber</p>
            @Html.ActionLink("Изменить данные", "Edit", "Account", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Удалить учетную запись", "Delete", "Account", null, new { @class = "btn btn-danger"})
        </div>
        <div style="width: 80%">
            <h2>Ваши заказы</h2>
            @{
                if (Model.listUserOrderDetails.Count>=1)
                {
                    <table class="table">
                            <tr>
                                <td>
                                    <table>
                                            <tr>
                                                <th style="width:7vw"></th>
                                                <th style="width:9vw">ID</th>
                                                <th style="width:46vw">Дата</th>
                                                <th style="width:7vw">Сумма</th>
                                            </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="height: 70vh; overflow-x: hidden; overflow-y: scroll">
                                        <table class="table table-striped">
                                            <tbody>
                                            @foreach (UserOrderDetails item in Model.listUserOrderDetails)
                                            {
                                                <tr><td style="width:75px">@Html.ActionLink("Подробнее", "Info", "Order", new { orderID = item.OrderId }, new { @class = "btn btn-outline-info" })</td><td>@item.OrderNumber</td><td>@item.orderDate</td><td>@item.orderSum</td></tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                    </table>
                }
                else
                {
                    <h3>У вас еще нет заказов</h3>
                }
            }
        </div>
    </div>
</body>