@using ASPLab.Data.Models
@model ASPLab.Data.ViewModels.UserOrderViewModel
@{
    bool isAdmin = false;
    string userRole = null;
}
@foreach (UserRoles role in Model.user.UserRoles)
{
    if (role.Role == "Admin")
    {
        isAdmin = true;
        userRole = role.Role;
    }
}
<body style="overflow:hidden">
    <div class="row">
        <div class="col-sm-2">
            <h2>Ваши Данные</h2>
            <ol class="list-group list-group shadow-lg p-3 mb-5 bg-body rounded">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Почта:</div>
                        @Model.user.Email
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Логин:</div>
                        @Model.user.Login
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Имя:</div>
                        @Model.user.Name
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Тел.:</div>
                        @Model.user.PhoneNumber
                    </div>
                </li>
                @if(isAdmin)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Роль:</div>
                            @userRole
                        </div>
                    </li>
                }
                <li class="list-group-item align-items-start">
                    <div class="d-grid gap-1">
                        @Html.ActionLink("Изменить данные", "Edit", "User", null, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Изменить пароль", "EditPassword", "User", null, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Удалить учетную запись", "DeleteUser", "User", null, new { @class = "btn btn-outline-danger" })
                    </div>
                </li>
                <li class="list-group-item align-items-start">
                    <div class="d-grid gap-1">
                        @Html.ActionLink("Назад", "Index", "Home", null, new { @class="btn btn-outline-primary" })
                    </div>
                </li>
            </ol>
            @if (isAdmin)
            {
                <h2>Загрузка файлов (JSON)</h2>
                    <div class="d-grid shadow-lg p-3 mb-5 bg-body rounded sticky-top">
                      <label for="formFile" class="form-label">Добавить товар (JSON должен быть в UTF8)</label>
                        @using (Html.BeginForm("GetJson", "JsonUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {                    
                            <input class="form-control" type="file" id="file" name="file" onchange="this.form.submit()" title="JSON файл должен быть в кодировке UTF8">
                        }                
                    </div>
            }
        </div>
        <div class="col-sm-10">
            <div class="row">
                <h2>Ваши заказы</h2>
            </div>
            <div class="row">
                @{
                    if (Model.listUserOrderDetails.Count >= 1)
                    {
                        string style_class = "";
                        int i = 1;
                            <div class="container border border-light shadow p-3 mb-5 bg-body rounded">
                                <div class="row bg-light bg-gradient align-items-start">
                                    <div class="col" style="max-width:150px"></div>
                                    <div class="col"><h3>ID</h3></div>
                                    <div class="col"><h3>Дата</h3></div>
                                    <div class="col"><h3>Сумма</h3></div>
                                </div>
                                <div style="height: 85vh; overflow-x: hidden; overflow-y: auto">
                                    @foreach (UserOrderDetails item in Model.listUserOrderDetails)
                                {
                                    if(i%2==0)
                                    {
                                    style_class = new string("row bg-light align-items-start");
                                    }
                                    else
                                    {
                                    style_class = new string("row align-items-start");   
                                    }
                                         <div class="@style_class">
                                            <div class="col d-grid" style="max-width:150px">@Html.ActionLink("Подробнее", "Info", "Order", new { orderID = item.OrderId }, new { @class = "btn btn-outline-info" })</div>
                                            <div class="col">@item.OrderNumber</div>
                                            <div class="col">@item.orderDate</div>
                                            <div class="col">@item.orderSum</div>
                                        </div>
                                    i++;
                                }
                                </div>
                            </div>
                    }
                    else
                    {
                            <h3>У вас еще нет заказов</h3>
                    }
                }
            </div>
        </div>
    </div>
</body>
