@model ASPLab.Data.Models.User
<body>
    <div class="row mt-5 mb-2">
        <div class="col-lg-2" style="width:20%">
        <table class="table">
            <tr>
                <td class="align-content-center-bold">Персональные данные</td>
            </tr>
            <tr>
                <td>
                @Model.Email
                </td>
            </tr>
            <tr>
                <td>
                @Model.Login
                </td>
            </tr>
            <tr>
                <td>
                @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                @Model.PhoneNumber
                </td>
            </tr>
            <tr>
            <td>
                @Html.ActionLink("Изменить данные", "Delete", "Account", new { @class = "btn btn-danger btn-lg pull-right" })
                @Html.ActionLink("Удалить учетную запись", "Delete", "Account", new { @class = "btn btn-danger btn-lg pull-right" })
            </td>

            </tr>
        </table>
        </div>
    
    <div class="col-lg-2" style="width:80%">
    жопа абоба
    </div>
    </div>
</body>