@using ASPLab.Data.ViewModels.OrderInfo
@model ShopCartViewModel
<body style="overflow:hidden">
        <div class="container border border-light shadow p-3 mb-5 bg-body rounded">
            <div class="row bg-light bg-gradient">
                <div class="col-sm-2"><h3>Корзина</h3></div>
                <div class="col-sm-8"><h3></h3></div>
                <div class="col d-grid gap-1">@Html.ActionLink("Назад", "Index", "Home", null, new { @class="btn btn-outline-primary" })</div>
            </div>
            @if (@Model.Positions.Count >= 1)
            {
                <div class="row bg-light bg-gradient">
                    <div class="col"></div>
                    <div class="col"><h3>Название</h3></div>
                    <div class="col"><h3>Цена</h3></div>
                    <div class="col"><h3>Кол-во</h3></div>
                    <div class="col"><h3>Сумма</h3></div>
                </div>
                <div style="height: 75vh; overflow-x: hidden; overflow-y: auto">
                    @{
                        int i = 1;
                        foreach (Position item in Model.Positions)
                        {
                            @if (i % 2 == 0)
                            {
                                <div class="row bg-light align-items-start">
                                    <div class="col align-content-center"><img class="img-thumbnail" src="@item.Dish.Img"/></div>
                                    <div class="col align-content-center"><a asp-controller="Dish" asp-action="DishInfo" asp-route-dishID="@item.Dish.ID">@item.Dish.Name</a></div>
                                    <div class="col align-content-center">@item.Dish.Price</div>
                                    <div class="col align-content-center">
                                    <div class="row">@item.Quantity</div>
                                    <div class="row">
                                    <div class="col d-grid gap-1">@Html.ActionLink("Назад", "AddOneItemToCart", "ShopCart", new {dishId=item.Dish.ID}, new { @class="btn btn-outline-primary" })</div>
                                    <div class="col d-grid gap-1">@Html.ActionLink("Назад", "RemoveOneItemFromCart", "ShopCart", new {cartItemId=item.}, new { @class="btn btn-outline-primary" })</div>
                                    </div>
                                    </div>
                                    <div class="col align-content-center"><h4>@item.Sum</h4></div>
                                </div>
                            }
                            else
                            {
                                <div class="row align-items-start">
                                    <div class="col align-content-center"><img class="img-thumbnail" src="@item.Dish.Img"/></div>
                                    <div class="col align-content-center"><a asp-controller="Dish" asp-action="DishInfo" asp-route-dishID="@item.Dish.ID">@item.Dish.Name</a></div>
                                    <div class="col align-content-center">@item.Dish.Price</div>
                                    <div class="col align-content-center">@item.Quantity</div>
                                    <div class="col align-content-center"><h4>@item.Sum</h4></div>
                                </div>

                            }
                            i++;
                        }
                    }
                </div>
                <div class="row bg-light bg-gradient align-items-start">
                    <div class="col"></div>
                <div class="col"><h3>Сумма: @Model.TotalSum</h3></div>
                <div class="col"></div>
            </div>
            }
            else
            {
            
            }
        </div>
</body>
