@model ShopCartViewModel
<!doctype html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>List</title>
</head>
<body>
    <h1>Корзина</h1>
    <div class="container">
        @{
            float sum = 0;
            int i = 0;
            foreach (var el in Model.ShopCart.listCartItems)
            {
                if (i%2==0)
                {
                <div class="bg-light mt-3">
                <b>Посуда:</b> @el.Dish.Name<br/>
                <b>Цена:</b> @el.Dish.Price.ToString("c")
                </div>
                }
                else
                {
                <div class="mt-3">
                <b>Посуда:</b> @el.Dish.Name<br/>
                <b>Цена:</b> @el.Dish.Price.ToString("c")
                </div>
                }
                sum += el.Dish.Price;
                i++;
            }
            <b>Сумма:</b>@sum.ToString("c");
        }
     <hr/>
     <a class="btn btn-danger m-5" asp-controller="Order" asp-action="AddOrder">Оплатить</a>
    </div>
</body>
</html>
